<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guohe.app.mapper.GpaMapper">
  <resultMap id="BaseResultMap" type="com.guohe.app.model.Gpa">
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="semester1" jdbcType="VARCHAR" property="semester1" />
    <result column="semester2" jdbcType="VARCHAR" property="semester2" />
    <result column="semester3" jdbcType="VARCHAR" property="semester3" />
    <result column="semester4" jdbcType="VARCHAR" property="semester4" />
    <result column="semester5" jdbcType="VARCHAR" property="semester5" />
    <result column="semester6" jdbcType="VARCHAR" property="semester6" />
    <result column="semester7" jdbcType="VARCHAR" property="semester7" />
    <result column="semester8" jdbcType="VARCHAR" property="semester8" />
    <result column="average" jdbcType="VARCHAR" property="average" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    uid, semester1, semester2, semester3, semester4, semester5, semester6, semester7, 
    semester8, average
  </sql>
  <select id="selectByExample" parameterType="com.guohe.app.model.GpaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gpa
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gpa
    where uid = #{uid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gpa
    where uid = #{uid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.guohe.app.model.GpaExample">
    delete from gpa
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guohe.app.model.Gpa">
    insert into gpa (uid, semester1, semester2, 
      semester3, semester4, semester5, 
      semester6, semester7, semester8, 
      average)
    values (#{uid,jdbcType=VARCHAR}, #{semester1,jdbcType=VARCHAR}, #{semester2,jdbcType=VARCHAR}, 
      #{semester3,jdbcType=VARCHAR}, #{semester4,jdbcType=VARCHAR}, #{semester5,jdbcType=VARCHAR}, 
      #{semester6,jdbcType=VARCHAR}, #{semester7,jdbcType=VARCHAR}, #{semester8,jdbcType=VARCHAR}, 
      #{average,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.guohe.app.model.Gpa">
    insert into gpa
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="semester1 != null">
        semester1,
      </if>
      <if test="semester2 != null">
        semester2,
      </if>
      <if test="semester3 != null">
        semester3,
      </if>
      <if test="semester4 != null">
        semester4,
      </if>
      <if test="semester5 != null">
        semester5,
      </if>
      <if test="semester6 != null">
        semester6,
      </if>
      <if test="semester7 != null">
        semester7,
      </if>
      <if test="semester8 != null">
        semester8,
      </if>
      <if test="average != null">
        average,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="semester1 != null">
        #{semester1,jdbcType=VARCHAR},
      </if>
      <if test="semester2 != null">
        #{semester2,jdbcType=VARCHAR},
      </if>
      <if test="semester3 != null">
        #{semester3,jdbcType=VARCHAR},
      </if>
      <if test="semester4 != null">
        #{semester4,jdbcType=VARCHAR},
      </if>
      <if test="semester5 != null">
        #{semester5,jdbcType=VARCHAR},
      </if>
      <if test="semester6 != null">
        #{semester6,jdbcType=VARCHAR},
      </if>
      <if test="semester7 != null">
        #{semester7,jdbcType=VARCHAR},
      </if>
      <if test="semester8 != null">
        #{semester8,jdbcType=VARCHAR},
      </if>
      <if test="average != null">
        #{average,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guohe.app.model.GpaExample" resultType="java.lang.Long">
    select count(*) from gpa
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gpa
    <set>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.semester1 != null">
        semester1 = #{record.semester1,jdbcType=VARCHAR},
      </if>
      <if test="record.semester2 != null">
        semester2 = #{record.semester2,jdbcType=VARCHAR},
      </if>
      <if test="record.semester3 != null">
        semester3 = #{record.semester3,jdbcType=VARCHAR},
      </if>
      <if test="record.semester4 != null">
        semester4 = #{record.semester4,jdbcType=VARCHAR},
      </if>
      <if test="record.semester5 != null">
        semester5 = #{record.semester5,jdbcType=VARCHAR},
      </if>
      <if test="record.semester6 != null">
        semester6 = #{record.semester6,jdbcType=VARCHAR},
      </if>
      <if test="record.semester7 != null">
        semester7 = #{record.semester7,jdbcType=VARCHAR},
      </if>
      <if test="record.semester8 != null">
        semester8 = #{record.semester8,jdbcType=VARCHAR},
      </if>
      <if test="record.average != null">
        average = #{record.average,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gpa
    set uid = #{record.uid,jdbcType=VARCHAR},
      semester1 = #{record.semester1,jdbcType=VARCHAR},
      semester2 = #{record.semester2,jdbcType=VARCHAR},
      semester3 = #{record.semester3,jdbcType=VARCHAR},
      semester4 = #{record.semester4,jdbcType=VARCHAR},
      semester5 = #{record.semester5,jdbcType=VARCHAR},
      semester6 = #{record.semester6,jdbcType=VARCHAR},
      semester7 = #{record.semester7,jdbcType=VARCHAR},
      semester8 = #{record.semester8,jdbcType=VARCHAR},
      average = #{record.average,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guohe.app.model.Gpa">
    update gpa
    <set>
      <if test="semester1 != null">
        semester1 = #{semester1,jdbcType=VARCHAR},
      </if>
      <if test="semester2 != null">
        semester2 = #{semester2,jdbcType=VARCHAR},
      </if>
      <if test="semester3 != null">
        semester3 = #{semester3,jdbcType=VARCHAR},
      </if>
      <if test="semester4 != null">
        semester4 = #{semester4,jdbcType=VARCHAR},
      </if>
      <if test="semester5 != null">
        semester5 = #{semester5,jdbcType=VARCHAR},
      </if>
      <if test="semester6 != null">
        semester6 = #{semester6,jdbcType=VARCHAR},
      </if>
      <if test="semester7 != null">
        semester7 = #{semester7,jdbcType=VARCHAR},
      </if>
      <if test="semester8 != null">
        semester8 = #{semester8,jdbcType=VARCHAR},
      </if>
      <if test="average != null">
        average = #{average,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guohe.app.model.Gpa">
    update gpa
    set semester1 = #{semester1,jdbcType=VARCHAR},
      semester2 = #{semester2,jdbcType=VARCHAR},
      semester3 = #{semester3,jdbcType=VARCHAR},
      semester4 = #{semester4,jdbcType=VARCHAR},
      semester5 = #{semester5,jdbcType=VARCHAR},
      semester6 = #{semester6,jdbcType=VARCHAR},
      semester7 = #{semester7,jdbcType=VARCHAR},
      semester8 = #{semester8,jdbcType=VARCHAR},
      average = #{average,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.guohe.app.model.GpaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gpa
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>